* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
background: #F7F7F7;
	/* background-color: #fff; */
	font-family: 'Inter';
}

button, .sell-btn {
  /* background: #006100 !important; */
background-color: #004D0C !important;
  border: none !important;
color: #fff !important;

}

.form-control {
padding: 13px;
/* width: 432px;
height: 64px;

On Surface Variant */

border: 1px solid #DCDCDC;
border-radius: 8px;
}

.form-control:focus {
  border-color: #444;
  box-shadow: none;
}

.form-card {
  border: none;
background: #fff;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 12%);
}

.inner-card{
  border: none;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 12%);

}

/* textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
} */


/*******************forms tab and desktop**************/
@media (min-width: 768px) {
.register-form, .login-form {
width: 350px;
}
}